@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;700;900&display=swap");
.border-line {
  height: 3px;
  width: 100%;
  background: #f3f3f3;
  margin: 1rem 0; }

.text-center {
  text-align: center; }

.fa-long-arrow-alt-right {
  font-size: 1.5rem; }

* {
  padding: 0;
  margin: 0;
  outline: none;
  box-sizing: border-box; }

a {
  text-decoration: none; }

ul li,
ol li {
  list-style: none; }

a,
button,
textarea,
input,
small {
  font: inherit; }

img {
  width: 100%; }

h1,
h2,
h3,
h4,
h5 {
  margin-bottom: 1rem; }

p {
  margin: 0.5rem 0; }

h1 {
  font-size: 3rem; }

h2 {
  font-size: 2.25rem; }

h3 {
  font-size: 1.5rem; }

h4 {
  font-size: 1.2rem; }

body {
  font-family: 'Montserrat', sans-serif;
  line-height: 1.6;
  background: #fff;
  color: #000;
  min-width: 360px; }

.container {
  max-width: 1200px; }

#header {
  background: url("../img/travels/travel-image-12.jpg") no-repeat center center/cover;
  color: #ffffff;
  height: 100vh;
  width: 100%;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  position: relative; }
  #header::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
    background: rgba(0, 0, 0, 0.4); }
  #header > * {
    z-index: 10; }
  #header a {
    color: #ffffff;
    font-weight: 700; }
  #header .nav {
    display: none; }
  #header .navigation {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 1rem 1rem;
    background: rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: space-between;
    align-items: center; }
    #header .navigation a {
      font-size: 1.2rem; }
    #header .navigation a:hover {
      color: #cfaf89; }
  #header .content h2 {
    margin-bottom: 5rem; }
  #header .content a {
    border: 2px solid #fff;
    padding: 1rem;
    cursor: pointer; }
    #header .content a:hover {
      background: #ffffff;
      color: #000; }

#destinations {
  margin: 2rem 0; }
  #destinations .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
  #destinations .wrapper {
    text-align: center; }
  #destinations .card {
    height: 9rem;
    margin-bottom: 3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer; }
    #destinations .card .img-1 {
      background: url("../img/continents/1.png") no-repeat center center/contain;
      height: 5rem;
      width: 5rem; }
    #destinations .card:hover .img-1 {
      background-image: url("../img/continents/1-hover.png"); }
    #destinations .card:hover p {
      color: #cfaf89; }
  #destinations p {
    font-weight: 500; }

#popular .card,
#blog .card {
  margin-bottom: 1rem; }
  #popular .card .img-container,
  #blog .card .img-container {
    background: url("../img/travels/travel-image-01.jpg") no-repeat center center/cover;
    height: 15rem;
    width: 100%; }
  #popular .card .location-desc,
  #blog .card .location-desc {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 1rem; }
    #popular .card .location-desc .info,
    #blog .card .location-desc .info {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: space-between; }
      #popular .card .location-desc .info p,
      #blog .card .location-desc .info p {
        font-size: 0.9rem; }
    #popular .card .location-desc .desc,
    #blog .card .location-desc .desc {
      align-self: flex-start; }
    #popular .card .location-desc button,
    #blog .card .location-desc button {
      margin-top: 1rem;
      background: none;
      border: 1px solid #323232;
      color: #323232;
      padding: 0.2rem 1.3rem;
      cursor: pointer; }
      #popular .card .location-desc button:hover, #popular .card .location-desc button:focus, #popular .card .location-desc button:active,
      #blog .card .location-desc button:hover,
      #blog .card .location-desc button:focus,
      #blog .card .location-desc button:active {
        background: #000;
        color: #fff; }

#popular .btn-arrow,
#blog .btn-arrow {
  display: flex;
  justify-content: flex-end; }
  #popular .btn-arrow button.wrap,
  #blog .btn-arrow button.wrap {
    display: flex;
    align-items: center;
    padding: 0 1rem;
    cursor: pointer;
    background: none;
    border: none;
    outline: none; }
  #popular .btn-arrow a,
  #blog .btn-arrow a {
    padding: 1rem;
    display: inline-block;
    line-height: 1; }
  #popular .btn-arrow .fa-long-arrow-alt-right,
  #blog .btn-arrow .fa-long-arrow-alt-right {
    align-self: center;
    vertical-align: middle; }

#about .container {
  margin: auto; }

#about .desc {
  padding: 1rem; }
  #about .desc p {
    text-align: justify; }

#adventures {
  text-align: center;
  background: url("../img/travels/travel-image-08.jpg") no-repeat center center/cover;
  position: relative; }
  #adventures::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, 0.6); }
  #adventures .container {
    position: relative;
    color: #fff;
    padding: 3rem 1rem; }
  #adventures .headline {
    margin-bottom: 2rem; }
  #adventures .subscription {
    margin: 2rem 0; }
  #adventures .form-field {
    margin-bottom: 2rem; }
    #adventures .form-field input {
      padding: 0.5rem 0.5rem;
      margin-bottom: 1rem;
      width: 100%;
      border-radius: 10px;
      border: none; }
    #adventures .form-field button {
      border: none;
      background: transparent;
      border: 1px solid #fff;
      color: #fff;
      padding: 0.5rem 1rem;
      font-weight: 500;
      cursor: pointer; }
      #adventures .form-field button:hover {
        background: #fff;
        color: #000; }
  #adventures .data-privacy,
  #adventures .privacy-content {
    margin-bottom: 2rem;
    margin-top: 2rem; }
  #adventures .footer {
    margin-top: 3rem; }

@media (min-width: 768px) {
  #adventures .container {
    margin: auto;
    width: 80%; }
  #adventures .form-field {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center; }
    #adventures .form-field input {
      width: 15rem; }
    #adventures .form-field input:nth-child(1) {
      margin-right: 1rem; }
    #adventures .form-field .btn-wrapper {
      width: 100%;
      margin-top: 1rem; }
    #adventures .form-field button {
      align-self: center; } }
