* {
  padding: 0;
  margin: 0;
  outline: none;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

ul li,
ol li {
  list-style: none;
}

a,
button,
textarea,
input,
small {
  font: inherit;
}

img {
  width: 100%;
}


h1,
h2,
h3,
h4,
h5 {
  margin-bottom: 1rem;
}

p {
  margin: 0.5rem 0;
}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 2.25rem;
}

h3 {
  font-size: 1.5rem;
}

h4 {
  font-size: 1.2rem;
}
