@media (min-width: 768px) {
  #adventures {

    .container{

        margin: auto;
        width: 80%;
    }
    .form-field {
      display: flex;
      flex-flow: row wrap;
      align-items: center;
      justify-content: center;

      input {
        width: 15rem;
      }

      input:nth-child(1){
          margin-right: 1rem;
      }

      .btn-wrapper {
        width: 100%;
        margin-top: 1rem;
      }
      button {
        align-self: center;
      }
    }
  }
}
