@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;700;900&display=swap');
@import 'variables';

body {
  font-family: 'Montserrat', sans-serif;
  line-height: 1.6;
  background: #fff;
  color: #000;
  min-width: 360px;
}

.container {
  max-width: 1200px;
}

// header
#header {
  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
    background: rgba(0, 0, 0, 0.4);
  }

  & > * {
    z-index: 10;
  }

  background: url('../img/travels/travel-image-12.jpg') no-repeat center center / cover;
  color: $light-color;
  height: 100vh;
  width: 100%;

  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  position: relative;

  a {
    color: $light-color;
    font-weight: 700;
  }

  .nav {
    display: none;
  }

  .navigation {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 1rem 1rem;
    background: rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: space-between;
    align-items: center;

    a {
      font-size: 1.2rem;
    }

    a:hover {
      color: $primary-color;
    }
  }

  .content {
    h2 {
      margin-bottom: 5rem;
    }

    a {
      border: 2px solid #fff;
      padding: 1rem;
      cursor: pointer;

      &:hover {
        background: $light-color;
        color: #000;
      }
    }
  }
}

// #destinations
#destinations {
  margin: 2rem 0;

  .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .wrapper {
    text-align: center;
  }

  .card {
    height: 9rem;
    margin-bottom: 3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;

    .img-1 {
      background: url('../img/continents/1.png') no-repeat center center / contain;
      height: 5rem;
      width: 5rem;
    }

    &:hover {
      .img-1 {
        background-image: url('../img/continents/1-hover.png');
      }

      p {
        color: $primary-color;
      }
    }
  }

  p {
    font-weight: 500;
  }
}

// popular
#popular,
#blog {
  .card {
    margin-bottom: 1rem;

    .img-container {
      background: url('../img/travels/travel-image-01.jpg') no-repeat center center/cover;
      height: 15rem;
      width: 100%;
    }

    .location-desc {
      display: flex;
      flex-direction: column;
      align-items: center;
      border: 1px solid rgba(0, 0, 0, 0.1);
      padding: 1rem;

      .info {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;

        p {
          font-size: 0.9rem;
        }
      }

      .desc {
        align-self: flex-start;
      }

      button {
        margin-top: 1rem;
        background: none;
        border: 1px solid $dark-color;
        color: $dark-color;
        padding: 0.2rem 1.3rem;
        cursor: pointer;

        &:hover,
        &:focus,
        &:active {
          background: #000;
          color: #fff;
        }
      }
    }
  }

  .btn-arrow {
    display: flex;
    justify-content: flex-end;

    button.wrap{
      display: flex;
      align-items: center;
      padding: 0 1rem;
      cursor: pointer;
      background: none;
      border: none;
      outline: none;
    }
     

    a {
      padding: 1rem;
      display: inline-block;
      line-height: 1;
    }

    .fa-long-arrow-alt-right {
      align-self: center;
      vertical-align: middle;
    }
  }
}

#about {
  .container{
    margin: auto;
  }
  .desc {
    padding: 1rem;

    p {
      text-align: justify;
    }
  }
}

#adventures {
  text-align: center;
  background: url('../img/travels/travel-image-08.jpg') no-repeat center center / cover;
  position: relative;

  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, 0.6);
  }

  .container {
    position: relative;
    color: #fff;
    padding: 3rem 1rem;
  }

  .headline {
    margin-bottom: 2rem;
  }

  .subscription {
    margin: 2rem 0;
  }

  .form-field {
    margin-bottom: 2rem;
    input {
      padding: 0.5rem 0.5rem;
      margin-bottom: 1rem;
      width: 100%;
      border-radius: 10px;
      border: none;
    }
    button {
      border: none;
      background: transparent;
      border: 1px solid #fff;
      color: #fff;
      padding: 0.5rem 1rem;
      font-weight: 500;
      cursor: pointer;
      &:hover {
        background: #fff;
        color: #000;
      }
    }
  }
  .data-privacy,
  .privacy-content {
    margin-bottom: 2rem;
    margin-top: 2rem;
  }

  .footer {
    margin-top: 3rem;
  }
}
